
<div class="container mx-auto py-6">
    <h1 class="text-2xl font-bold mb-4">Your Projects</h1>
    <div class=" mb-4">
        <input type="text"
            class="rounded-l-lg py-2 px-3 border-t border-b border-l text-gray-800 border-gray-200 bg-white mb-2 md:mb-0"
            placeholder="Add a new project..." [(ngModel)]="newProjectName">
        <button *ngIf="!isAddNewProjectLoading" (click)="handleOnAddProject()"
            class="  rounded-r-lg text-white font-bold py-2 px-4" [disabled]="!newProjectName"
            [ngClass]="{'hover:bg-blue-600': newProjectName,'bg-blue-500': newProjectName,'bg-blue-200': !newProjectName,'cursor-not-allowed': !newProjectName}">Add</button>
        <button *ngIf="isAddNewProjectLoading" class="bg-blue-200 rounded-r-lg text-white font-bold py-2 px-4"
            [disabled]=true>wait</button>
    </div>
    <div class="" *ngIf="!projects.length">
        <p>You don't have any project.</p>
    </div>
    <div class="" *ngIf="projects.length">
        <div *ngFor="let proj of projects" class="border m-4 flex justify-between">
            <h3 
                (click)="localStorage.setItem('project', jsonToString(proj))"
                 [routerLink]="['/project', proj.id]"
                class="font-bold py-2 px-4 cursor-pointer">
                {{proj.name}}</h3>
                <div class="my-auto">
                    <button (click)="isUpdateingProjectName = true ; selectedProjectId = proj.id; updatedName = proj.name" class="text-blue-500">Update</button>
                    <button (click)="handleOnClickDelete(proj.id)" class="ml-4 text-red-400  px-2 rounded-lg text-sm">Delete</button>
                </div>
        </div>
    </div>
</div>

<div *ngIf="isUpdateingProjectName" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50  overflow-auto">
    <div class="bg-white flex flex-col p-4 rounded-lg">
        <label for="">New Name: </label>
        <input [(ngModel)]="updatedName" class="bg-gray-200 my-2" type="text" name="" id="">
        <button (click)="handleOnClickUpdate()" class="text-blue-500">Update</button>
    </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
<app-alert-box *ngIf="errMsg" [err]="errMsg"></app-alert-box>