<div class="flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow rounded-lg ">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2 class="mb-6 text-center text-3xl font-extrabold text-gray-900">Login to your account</h2>
      </div>

      <br>
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
        <div class="mt-1">
          <input (input)="inputValidate('email', 'email')" [(ngModel)]="data['email'].value" id="email" name="email"
            type="email" autocomplete="email" required
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 " />
          <ng-container *ngIf="data['email'].errMsg !== 'init'">
            <p class="text-red-400 text-sm mt-2 ml-2">{{data['email'].errMsg}}</p>
          </ng-container>
        </div>
      </div>

      <br>
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
        <div class="mt-1">
          <input (input)="inputValidate('password', 'password')" [(ngModel)]="data['password'].value" id="password"
            name="password" type="password" autocomplete="current-password" required
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 " />
          <ng-container *ngIf="data['password'].errMsg !== 'init'">
            <p class="text-red-400 text-sm mt-2 ml-2">{{data['password'].errMsg}}</p>
          </ng-container>
        </div>
      </div>

      <br>
      <div>
        <button [disabled]="!isValidInputs" (click)="handleOnLogin()" type="submit"
        [ngClass]="{
            'bg-blue-200': !isValidInputs,
            'cursor-not-allowed': !isValidInputs,
            'bg-blue-500': isValidInputs,
            'hover:bg-blue-400': isValidInputs
          }"
          class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
          <p *ngIf="isLoading; else text">Loading...</p>
         <ng-template #text>Login</ng-template>
        </button>
      </div>
    </div>
  </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>
<app-alert-box *ngIf="errMsg" [err]="errMsg"></app-alert-box>