<div class="w-full h-[92vh] flex flex-col">
    <div class="flex m-10 justify-between">
        <h1 class="text-2xl">{{projectData.name}}</h1>
        <div>
            <label for="" class="text-lg">Add User by Email:</label>
            <input [(ngModel)]="newShareProjectEmail" type="email" class="bg-gray-200 mx-2 rounded-lg p-1 pl-2">
            <button (click)="handleOnClickAddEmail()"
                class="bg-blue-300 px-3 py-1 text-white rounded-lg text-sm">Add</button>
        </div>
    </div>
    <div class="flex flex-1">
        <div class="w-1/3 h-full text-center bg-gray-100 ml-4 mr-2 pt-4 ">
            <h2>To do</h2>
            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="allTodoColTodos"
                [cdkDropListConnectedTo]="[progList,doneList]" (cdkDropListDropped)="drop($event)"
                class="min-h-[70%] flex flex-col example-list">

                <button *ngIf="!isCreatingNewTodo" (click)="isCreatingNewTodo = true"
                    class="w-[95%] p-4 m-2 text-left   rounded-sm  hover:bg-gray-200">+ Create Todo</button>
                <div *ngIf="isCreatingNewTodo" class=" rounded-sm bg-gray-200 flex m-2 flex-col p-1">
                    <textarea [(ngModel)]="newTodo" rows="2" class="rounded-sm p-2 resize-none"></textarea>
                    <div class="w-full flex ">
                        <button (click)="handleOnAddNewTodo()"
                            class="rounded-sm bg-[#3273d4] hover:bg-blue-700 text-white m-2 py-2 w-5/6">Add</button>
                        <button (click)="isCreatingNewTodo = false"
                            class="rounded-sm bg-white m-2 py-2 w-1/6 hover:bg-gray-100 text-red-400">X</button>
                    </div>
                </div>
                <div class="bg-white  cursor-pointer  m-2 p-4 rounded-sm example-box"
                    *ngFor="let todo of allTodoColTodos" (click)="handleOnClickTask(todo)" cdkDrag>
                    <div class=" text-left">
                        <h1 [id]="todo.id">{{todo.title}}</h1>

                        <p [class]="'relative top-4  ' "><span
                                [class]=" 'text-white px-2 py-[1px] text-sm rounded-lg ' + todo.priority ">{{todo.priority}}</span>
                            <span *ngIf="todo.assignTo"
                                class="ml-4  bg-[#0747A6] text-white px-2 py-[1px] text-sm rounded-lg">{{handleOnReturnUsername(todo)}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-1/3 h-full text-center bg-gray-100 mx-2 pt-4">
            <h2>In progress</h2>
            <div cdkDropList #progList="cdkDropList" [cdkDropListData]="allInPrograceColTodos"
                [cdkDropListConnectedTo]="[todoList, doneList]" class="min-h-[70%] flex flex-col example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="bg-white cursor-pointer  m-2 p-4 rounded-sm example-box"
                    *ngFor="let todo of allInPrograceColTodos" (click)="handleOnClickTask(todo)" cdkDrag>

                    <div class=" text-left">
                        <h1 [id]="todo.id">{{todo.title}}</h1>
 <p [class]="'relative top-4  ' "><span
                                [class]=" 'text-white px-2 py-[1px] text-sm rounded-lg ' + todo.priority ">{{todo.priority}}</span>
                            <span *ngIf="todo.assignTo"
                                class="ml-4  bg-[#0747A6] text-white px-2 py-[1px] text-sm rounded-lg">{{handleOnReturnUsername(todo)}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-1/3 h-full text-center bg-gray-100 mr-4 ml-2 pt-4">
            <h2>Done</h2>
            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="allDoneColTodos"
                [cdkDropListConnectedTo]="[todoList, progList]" class="min-h-[70%] flex flex-col example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="bg-white cursor-pointer example-box m-2 p-4 rounded-smS"
                    *ngFor="let todo of allDoneColTodos" (click)="handleOnClickTask(todo)" cdkDrag>
                    <div class=" text-left">
                        <h1 [id]="todo.id">{{todo.title}}</h1>
                        <p [class]="'relative top-4  ' "><span
                                [class]=" 'text-white px-2 py-[1px] text-sm rounded-lg ' + todo.priority ">{{todo.priority}}</span>
                            <span *ngIf="todo.assignTo"
                                class="ml-4  bg-[#0747A6] text-white px-2 py-[1px] text-sm rounded-lg">{{handleOnReturnUsername(todo)}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div *ngIf="isUpdatingTask" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50  overflow-auto">
    <div class="w-3/4 sm:w-5/6 lg:w-3/4 xl:w-1/2 2xl:w-2/3 h-max bg-white text-black overflow-auto rounded-2xl max-h-[85%] ">
        <div class="m-8 flex-1">
            <div class="flex flex-col sm:flex-row h-1/4">
                <div class="w-1/2 h-full flex  flex-col justify-between">
                    <h1 *ngIf="!isUpdateingTodoTitle" class="text-3xl mb-4"
                        (click)="isUpdateingTodoTitle = true; selectedTodoTitleUpdate = selectedTask.title">{{
                        selectedTask.title }}</h1>
                    <div *ngIf="isUpdateingTodoTitle" class="w-full">
                        <textarea class="w-full text-2xl p-2 border mb-2" rows="2"
                            [(ngModel)]="selectedTodoTitleUpdate"></textarea>
                        <div class="flex justify-end">
                            <button class="mr-2 bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg"
                                (click)="handleOnUpdateTodo(selectedTask.id, selectedTodoTitleUpdate, selectedTask.context, selectedTask.status, selectedTask.username, selectedTask.index, selectedTask.priority, selectedTask.assignTo)">Update</button>
                            <button class="bg-gray-500 hover:bg-gray-600 text-white py-2 px-4 rounded-lg"
                                (click)="isUpdateingTodoTitle = false">Cancel</button>
                        </div>
                    </div>
                    <br>
                    <div *ngIf="!isUpdateingTodoTitle">
                        <label for="">Priority: </label>
                        <select name="" id=""
                            (change)="handleOnUpdateTodo(selectedTask.id, selectedTask.title, selectedTask.context, selectedTask.status, selectedTask.username, selectedTask.index, $event.target , selectedTask.assignTo)">
                            <option [value]="selectedTask.priority" hidden>{{selectedTask.priority}}</option>
                            <option value="low">low</option>
                            <option value="mid">mid</option>
                            <option value="high">high</option>
                        </select>
                        <label class="ml-4" for="">Assign TO: </label>
                        <select name="" id="" (change)="handleOnChangeTodoUserAssign($event)">

                            <option value="">None</option>
                            <ng-container *ngFor="let t of projectData.shareUsersUsername.$values ; let i = index">
                                <option [value]="projectData.shareUsersId.$values[i]"
                                    [selected]="selectedTask.assignTo == projectData.shareUsersId.$values[i]">{{t}}
                                </option>
                            </ng-container>

                        </select>
                    </div>
                    <br>
                </div>
                <div class="sm:w-1/2 sm:h-full">
                    <button class="float-right text-red-600 text-xl"
                        (click)="isUpdatingTask = false; isUpdateTodoContext = false; isUpdateTodoContext = false; isUpdateingTodoTitle = false">X</button>
                    <br>
                    <div class="w-full text-center">
                        <h1>By: {{ selectedTask.username }}</h1>
                        <br>
                        <h1>Created at: {{ selectedTaskCreatedAt }}</h1>
                        <br>
                        <button class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-lg"
                            (click)="handleOnClickDelete()">Delete task</button>
                    </div>
                </div>
            </div>
            <div>
                <h1>Description:</h1>
                <div *ngIf="selectedTask.context" class="p-2">
                    <p class="m-2" (click)="isUpdateTodoContext = true" *ngIf="!isUpdateTodoContext"
                        [innerHTML]="this.stringTOHtml(selectedTask.context)"></p>
                    <div *ngIf="isUpdateTodoContext">
                        <textarea [(ngModel)]="selectedTodoContext" class="p-4 border resize-none  rounded-lg w-full"
                            rows="3"></textarea>
                        <button class="bg-blue-300 mr-4 text-white py-2 px-4 rounded-md"
                            (click)="handleOnUpdateTodo(selectedTask.id,selectedTask.title, selectedTodoContext,selectedTask.status, selectedTask.username, selectedTask.index, selectedTask.priority, selectedTask.assignTo )">Update</button>
                        <button class="bg-gray-100  py-2 px-4 rounded-md"
                            (click)="isUpdateTodoContext = false ; selectedTodoContext = selectedTask.context">Cancel</button>
                    </div>
                </div>
                <div *ngIf="!selectedTask.context">
                    <textarea placeholder="You don't have a context, add one" [(ngModel)]="selectedTodoContext"
                        class="border  rounded-lg resize-none p-2 w-full" rows="3"></textarea>
                    <button class="bg-blue-300 text-white py-2 px-4 rounded-md"
                        (click)="handleOnUpdateTodo(selectedTask.id,selectedTask.title, selectedTodoContext, selectedTask.status, selectedTask.username, selectedTask.index, selectedTask.priority, selectedTask.assignTo)">Add</button>
                </div>
            </div>
            <br>
            <div class="flex w-full flex-col ">
                <label for="">Comment:</label>
                <br>
                <div class="flex w-full">
                    <p class="bg-blue-400 text-white rounded-3xl mt-3 mr-2  w-8 h-8 text-xl text-center pt-1">
                        {{userData.user.username[0]}}</p>
                    <textarea class="w-full p-2 resize-none border border-blue-500 rounded-lg "
                        placeholder="Write a comment for people to see" rows="2" [(ngModel)]="commentMsg"></textarea>
                </div>
                <button (click)="handleOnClickSendComment()"
                    class="my-2 rounded-lg hover:bg-blue-500 bg-blue-300 ml-[40px] text-white py-2 px-4 w-max">Send</button>
                <br>
                <div *ngIf="isTodoCommentLoading">Loading...</div>
                <div *ngIf="!isTodoCommentLoading">
                    <div *ngFor="let comment of allSelectedTodoComments">
                        <div class="flex">
                            <p class="bg-blue-400 text-white rounded-3xl mt-3 mr-2  w-8 h-8 text-xl text-center pt-1">
                                {{comment["userName"][0]}}</p>
                            <p class="mt-2 text-gray-500">{{comment["userName"]}}</p>
                        </div>
                        <p class="ml-10">{{comment["context"]}}</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div *ngIf="isUpdatingTask" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50  overflow-auto">
    <div class="w-2/5 max-h-[98%] overflow-auto bg-white rounded-xl flex flex-col p-4">
        <div class="">
            <button class="float-right" (click)="handleOnClickCloseTodo()">X</button>
            <button class="float-right mr-8 bg-red-400 text-white rounded-xl px-2" (click)="handleOnClickDelete()">Delete</button>
        </div>
        <div>
            <h1 *ngIf="!isUpdateingTodoTitle"
                (click)="isUpdateingTodoTitle = true; selectedTodoTitleUpdate = selectedTask.title" class="text-3xl">
                {{selectedTask.title}}</h1>
            <div *ngIf="isUpdateingTodoTitle" class="w-full">
                <textarea class="w-full text-2xl p-2 border mb-2" rows="2" [(ngModel)]="selectedTodoTitleUpdate"></textarea>
                <div class="">
                    <button class="text-sm mr-2   text-white py-2 px-4 rounded-lg"
                        [disabled]="!selectedTodoTitleUpdate"
                        [ngClass]="{
                            'cursor-not-allowed bg-blue-200': !selectedTodoTitleUpdate,
                            'bg-blue-500': selectedTodoTitleUpdate
                        }"
                        (click)="handleOnUpdateTodo(selectedTask.id, selectedTodoTitleUpdate, selectedTask.context, selectedTask.status, selectedTask.username, selectedTask.index, selectedTask.priority, selectedTask.assignTo)">Update</button>
                    <button class="text-sm bg-gray-500 hover:bg-gray-600 text-white py-2 px-4 rounded-lg"
                        (click)="isUpdateingTodoTitle = false">Cancel</button>
                </div>
            </div>
        </div>
        <div class="mt-4 text-sm text-gray-400">
            <ul class=" w-18">
                <li class="flex justify-between my-1">Status <strong class="text-black  font-normal">{{selectedTask.status}}</strong></li>
                <li class="flex justify-between my-1">Asignee 
                    <select class="text-black max-w-30 bg-gray-200" (change)="handleOnChangeTodoUserAssign($event)">
                        <option value="">Unassigned</option>
                        <ng-container *ngFor="let t of projectData.shareUsersUsername.$values ; let i = index">
                            <option [value]="projectData.shareUsersId.$values[i]"
                                [selected]="selectedTask.assignTo == projectData.shareUsersId.$values[i]">{{t}}
                            </option>
                        </ng-container>
                    </select>
                </li>
                <li class="flex justify-between my-1">Created At <strong class="text-black  font-normal">{{ selectedTaskCreatedAt }}</strong></li>
                <li class="flex justify-between my-1">Priority
                    <select [class]="'text-black max-w-30 bg-gray-200 '"
                        (change)="handleOnUpdateTodo(selectedTask.id, selectedTask.title, selectedTask.context, selectedTask.status, selectedTask.username, selectedTask.index, $event.target , selectedTask.assignTo)">
                        <option [value]="selectedTask.priority" hidden>{{selectedTask.priority}}</option>
                        <option [selected]="selectedTask.priority === 'low'" value="low">low</option>
                        <option  [selected]="selectedTask.priority === 'mid'" value="mid">mid</option>
                        <option  [selected]="selectedTask.priority === 'high'" value="high">high</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="mt-4">
            <h1>Description</h1>
            <div *ngIf="selectedTask.context">
                <p (click)="isUpdateTodoContext = true" *ngIf="!isUpdateTodoContext" class="ml-6 mt-3 text-sm text-gray-500 ">
                    {{selectedTask.context}}</p>
                <div *ngIf="isUpdateTodoContext">
                    <textarea [(ngModel)]="selectedTodoContext" class="p-4 border   rounded-lg w-full"
                        rows="3"></textarea>
                    <button class="bg-blue-300 mr-4 text-white py-2 px-4 rounded-md"
                        [disabled]="!selectedTodoContext"
                        [ngClass]="{
                            'bg-blue-200 cursor-not-allowed': !selectedTodoContext,
                            'bg-blue-500': selectedTodoContext,
                        }"
                        (click)="handleOnUpdateTodo(selectedTask.id,selectedTask.title, selectedTodoContext,selectedTask.status, selectedTask.username, selectedTask.index, selectedTask.priority, selectedTask.assignTo )">Update</button>
                    <button class="bg-gray-100  py-2 px-4 rounded-md"
                        (click)="isUpdateTodoContext = false ; selectedTodoContext = selectedTask.context">Cancel</button>
                </div>
            </div>
            <div *ngIf="!selectedTask.context" class="text-sm text-gray-500 mt-2">
                <textarea placeholder="You don't have a context, add one" [(ngModel)]="selectedTodoContext" rows="4"
                    class="w-full p-2 border "></textarea>
                <button class="  text-white mr-4  py-2 px-4 rounded-md"
                    [disabled]="!selectedTodoContext"
                    [ngClass]="{
                        'bg-blue-200 cursor-not-allowed': !selectedTodoContext,
                            'bg-blue-500': selectedTodoContext,
                    }"
                    (click)="handleOnUpdateTodo(selectedTask.id,selectedTask.title, selectedTodoContext, selectedTask.status, selectedTask.username, selectedTask.index, selectedTask.priority, selectedTask.assignTo)">Add</button>
            </div>
        </div>
        <div class="mt-8">

            <h1>Comments</h1>
            <div class=" flex ">
                <span class="w-8 h-8 bg-blue-400 rounded-full flex justify-center items-center text-white">{{userData.user.username[0]}}</span>
                <input type="text" class="bg-gray-200 ml-2 rounded-2xl flex-1 pl-4" [(ngModel)]="commentMsg">
                <button [disabled]="!commentMsg"
                    [ngClass]="{
                        'bg-blue-500':  commentMsg,
                        'cursor-not-allowed':  !commentMsg
                    }" 
                    (click)="handleOnClickSendComment()" class="bg-blue-200 rounded-xl px-2 ml-1 text-sm text-white">Send</button>
            </div>

            <div class="mt-4" *ngIf="isTodoCommentLoading">Loading...</div>
            <div *ngIf="!isTodoCommentLoading" class="mt-8">
                <div *ngFor="let comment of allSelectedTodoComments">
                    <div class="border p-2 rounded-xl my-3">
                        <div class="flex items-center my-2">
                            <span
                                class="w-8 h-8 bg-blue-400 rounded-full flex justify-center items-center text-white">{{comment["userName"][0]}}</span>
                            <p class="ml-4">{{comment["userName"]}}</p>
                        </div>
                        <p class="mt-2 ml-8">{{comment["context"]}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<app-loading *ngIf="isLoading"></app-loading>








<app-alert-box *ngIf="errMsg" [err]="errMsg"></app-alert-box>