<div class="container mx-auto py-6">
    <h1 class="text-2xl font-bold mb-4">Your Projects</h1>
    <div class=" mb-4">
        <input type="text"
            class="rounded-l-lg py-2 px-3 border-t border-b border-l text-gray-800 border-gray-200 bg-white mb-2 md:mb-0"
            placeholder="Add a new project..."
            [(ngModel)]="newProjectName">
        <button *ngIf="!isAddNewProjectLoading" (click)="handleOnAddProject()" class="  rounded-r-lg text-white font-bold py-2 px-4"
        [disabled]="!newProjectName"
        [ngClass]="{'hover:bg-blue-600': newProjectName,'bg-blue-500': newProjectName,'bg-blue-200': !newProjectName,'cursor-not-allowed': !newProjectName}">Add</button>
        <button *ngIf="isAddNewProjectLoading" class="bg-blue-200 rounded-r-lg text-white font-bold py-2 px-4"
        [disabled]=true
    >wait</button></div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4" *ngIf="projects.length">
        <div *ngFor="let proj of projects" class="bg-white rounded-lg shadow-md p-4">
            <h3 class="font-bold text-lg mb-2">{{proj.name}}</h3>
            <p class="text-gray-600 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button (click)="localStorage.setItem('project', jsonToString(proj))" [routerLink]="['/project', proj.id]"  class="bg-blue-500 hover:bg-blue-600 rounded-md text-white font-bold py-2 px-4">View Tasks</button>
        </div>
    </div>
    <!-- <ng-template #noProj>
        <div *ngIf="isLoading">Loadin..</div>
        <div *ngIf="!isLoading">
            <p class="text-center text-gray-600 text-sm mt-4">No projects found. Create a new one!</p>
        </div>
    </ng-template> -->
</div>

<app-loading *ngIf="isLoading"></app-loading>
<app-alert-box *ngIf="errMsg" [err]="errMsg"></app-alert-box>